---
import Layout from '../../layouts/Layout.astro';
import ConfirmacionInfo from '../../components/asesoria/Confirmacion';
---

<Layout title="Estado del pago · Grexia">
    <link
        slot="head"
        rel="stylesheet"
        href="https://assets.calendly.com/assets/external/widget.css"
    />
    <main class="grow w-full bg-background-light">
        <ConfirmacionInfo client:only="react" />
    </main>
</Layout>

<script
    src="https://assets.calendly.com/assets/external/widget.js"
    is:inline
></script>
